
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}


header {
    background: #8b6f47;
    padding: 10px 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.MC {
    font-size: 1.5em;
    color: white;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    transition: background 0.3s;
}

nav a:hover {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
}


main {
    display: flex;
    flex-direction: column;
    padding: 20px;
    max-width: 1200px;
    margin: auto;
    
}

.intro-text {
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: justify;
    padding: 5px 5px 5px 5px;
    background-color: white;
}

.intro-text h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
    
}


.hero-image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: white;
}

.hero-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    padding: 5px 5px 5px 5px;
}


article {
    margin-bottom: 20px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: justify;
}

blockquote {
    background-color: gray;
    color: aliceblue;
    border-radius: 10px;
    padding: 5px;
}




footer {
    text-align: center;
    padding: 10px 0;
    background: #8b6f47;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}
